.logo {
    margin-left: 1%;
}
.nav-item {
    color: white;
    background-color: #352da5;
}
.text {
    font-family: "Montserrat";
    text-align: justify;
}
.titulo {
    text-align: center;
}
.scrollspy-example {
    margin: 0 5% 0 5%;
}
.corpo {
    border-radius: 5px 5px 5px 5px;
    padding: 2%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.corpotexto {
    text-align: center;
    margin: 0px auto 0px auto;
}
